# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake folders and files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

#VisualStudio project files
.vs/

#XCode buid and debug files
*.build/
*.xcodeproj/

#Latex build and debug files
*.aux
*.out
*.log
